@import-normalize;

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  background-color: #cfcfcf;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
